*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
header {
  height: 30vh;
  max-width: 100vw;
  background-color: #E0F7FA; /* Soft mint background */
  color: #4A4A4A; /* Soft dark gray for text */
  font-family: 'Arial', sans-serif; /* Clean, soft font */
  border-bottom: #0288D1 1px solid;
  padding: 0 20px;
}

.top-bar {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #df9bd290; /* Light mint border to separate */
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #2e8cc0; /* Soft blue for the logo */
}

.icon-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  transition: color 0.3s ease;
  color: #9314b6; /* Dark gray for icons */
}

.icon:hover {
  color: #0288D1; /* Soft blue hover effect */
}


nav{
  height: 10vh;
  width: 100%;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
}
/* Navigation styles */
nav ul {
  list-style: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 1.8rem;
  transition: all 0.3s ease; 
}

nav ul li {
  margin: 0;
  padding: 0;
}



.nav-links a {
  color: #4A4A4A; /* Soft dark gray for nav links */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth color transition */
}

.nav-links a:hover {
  color: #0288D1; /* Soft blue hover effect */
}





/* Hamburger Icon */
.hamburger {
  display: none; /* Hidden by default */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide nav links by default on small screens */
    position: relative;
  }


  .nav-links.active {
    display: flex; /* Show when the hamburger icon is clicked */
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    padding: 20px;
    height: 55vh;
    width: 100%;
    align-items: start;
    background-color: #4a8dde1b;
    z-index: 2;
    backdrop-filter: blur(7px);
    
  }

  .hamburger {
    display: block; /* Show hamburger icon on small screens */
    cursor: pointer;
    position: relative;
    z-index: 3;
  }

  .icon-links {
    gap: 0.5rem; /* Reduce space between icons on small screens */
  }
}
