.loading{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;
    max-width: 100%;
}

.loading>div{
    width: 10vmax;
    border-bottom: 5px solid rgb(59, 49, 49);
    height: 10vmax;
    border-radius: 50%;
    animation: loadingAnimate 750ms linear infinite;
}

@keyframes loadingAnimate {
    to{
        transform: rotate(360deg);
    }
}